.sidebar {
    display: grid;
    position: fixed;
    top: 123px;
    left: 0;
    width: 60px;
    bottom: 40%;
    grid-template-rows: 1fr;
    row-gap: 20px;
    vertical-align: middle;
    background-color: white;
    padding-bottom: 60px;
    z-index: 1;
}

.sidebar p {
    font-family: Roboto;
    font-size: 12px;
    margin: 0;
}

.sidebar div {
    text-align: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar div:hover {
    background-color: rgb(234, 234, 234);
}

body {
    margin-top: 70px;
}